/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.mdl-card__media > img {
  max-width: 60%;
}

.mdl-grid {
    max-width: 600px;
}
.mdl-card__media {
    margin: 0;
}
